# ─── Terraform ────────────────────────────────────────────────────────────────
tf/.terraform/
tf/.terraform.lock.hcl
tf/.terraform-helm/

# State (dossier dédié)
state/terraform.tfstate
state/*.backup

# Outputs générés
terraform-outputs.json

# Anciens emplacements (sécurité)
*.tfstate
*.tfstate.backup
.terraform/
.terraform-helm/
